<div class="wrapper">
    {{#paper-card}}
        <img src="http://placehold.it/600x400" alt="Spot" />
        {{#paper-card-content}}
            <h1>Name: Spot</h1> 
            <h2>Type: Dog</h2> 
            <h2>Color: Spotted (Mixed)</h2>
            <h3>Tag Number: #1234</h3>
        {{/paper-card-content}}
        <div class="md-actions" layout="row" layout-align="end center">
            {{#paper-button}}I found this pet{{/paper-button}}
        </div>
    {{/paper-card}}
</div>
